.btnSim{
    background-color: #f03356  !important;
    color:#FFFFFF !important;
 }

 .btnNao{
        background-color: #c92e4a !important;
        color:#FFFFFF !important;
 }

 .btnSim:hover{
    background-color:#590D22 !important;
}

.btnNao:hover{
    background-color:#590D22 !important;
}