

/* .imagemHome:hover{
    filter: grayscale(0%);
    transition: 500ms linear !important; */
    /* transform: scale(1.1); */

/* }  */

/* .botaoHome{ */
    border-color: white !important;
    background-color: #C9184A !important;
    box-shadow: 3px 3px 7px #551023;
    color: white !important;
/* } */

/* .botaoHome:hover{ */
    /* background-color:#5a1327 !important; */
/* } */ 